@font-face {
  font-family: "sf-text";
  src: url("font.ttf") format("truetype");
}

body {
	background-color: rgb(58, 87, 159);
	font-family: "sf-text";
	
}

.logo {
	border: 1px solid rgb(215, 95, 95);
	padding: 5px;
	border-radius: 10px;
	float: left;
}

.tab:hover {
	color: white;

}


.aboutUs {
	float: right;
	padding-right: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgb(215, 95, 95);
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

.create {
	float: right;
	padding-right: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgb(215, 95, 95);
	margin-right: 5px;
}

.search {
	float: right;
	padding-right: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgb(215, 95, 95);
	margin-right: 5px;
}

.fullTitle {
	margin-left: 293px;
	color: white;

}

.mainTitle {
	
	text-align: center;
	float: left;
	margin-left: 150px;

}

.one {
	font-size: 20px;
}

.two {
	font-size: 40px;
}

.three {
	font-size: 20px;
}

.these {
	border: 1px solid rgb(215, 95, 95);
	text-align: center;
	border-radius: 20px;
	width: 450px;
	
	margin-right: 10px;
	height: 500px;
}


.thisInfoBubble {
	border: 1px solid black;
	width: 75px;
	float: left;
	margin-left: 80px;
	padding: 10px;
	border-radius: 20px;
	margin-right: 10px;
}

.this {
	float: left;
}

.image {
	height: 170px;
	opacity: 0.5;
}

.name {
	font-size: 30px;
	margin-bottom: 15px;
	border-bottom: 2px solid black;
	

}

.that {
	float: left;
}



.thatInfoBubble {
	border: 1px solid black;
	border-radius: 20px;
	width: 75px;
	padding: 10px;
	text-align: center;
	float: left;
}

.hide {
	border: none;
	color:rgb(210, 191, 191);
}

.percent {
	font-size: 60px;
	margin-bottom: 30px;
	
}

.popWords {
	border: 2px solid gray;
	padding: 4px;
	margin: 2px;
	font-size: 15px;
	border-radius: 10px;

}

input {
	width: 200px;
	border-radius: 20px;
	border: 3px solid gray;
}

input:hover {
	background-color: gray;
}

.latestComments {
	border: 2px solid gray;
	width: 250px;
	margin: 0px auto;
}

.time{
	font-style: italic;
}

.aboutUsParagraph{
	font-style: italic;
	text-align: center;
	width: 500px;
	margin: 0px auto;
}


/*

Default message for input
Upon click, clear default message
Type
Upon enter or blur, make that the new innerHTML for latestComments


