body {
	background-color: rgb(210, 191, 191);
}

.logo {
	border: 2px solid rgb(215, 95, 95);
	padding: 5px;
	border-radius: 10px;
	float: left;
}


.aboutUs {
	float: right;
	padding-right: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid rgb(215, 95, 95);
	margin-right: 5px;
}

.create {
	float: right;
	padding-right: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid rgb(215, 95, 95);
	margin-right: 5px;
}

.search {
	float: right;
	padding-right: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid rgb(215, 95, 95);
	margin-right: 5px;
}

.these {
	border: 2px solid rgb(215, 95, 95);
	width: 375px;
	height: 400px;
	text-align: center;
	border-radius: 20px;
}

.this {
	float: left;
	margin-left: 225px;
}



.name {
	font-size: 30px;
}

.that {
	float: right;
	margin-right: 225px;
}



